.wrapper {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.accentBackground {
  background-color: var(--color-background-accent);
}

.innerWrapper {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
}

.planDescription {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.planDescription h2 {
  font-size: 32px;
}

.planDescription p {
  font-size: 22px;
}

.mainList {
  padding: 0;
  list-style: none;
  flex: 2;
}

.mainListItem {
  border-top: 1px solid var(--color-accent-light);
}

.mainListItem:last-child {
  border-bottom: 1px solid var(--color-accent-light);
}

.accordionButton {
  padding: 0 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  text-align: left;
}

.accordionButton:hover {
  background-color: var(--color-accent-grey);
}

.accordionButton h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-text);
}

.toggleIcon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleIcon svg {
  width: 30px;
  height: 30px;
  stroke: var(--color-accent);
  stroke-width: 2;
  transition: transform 0.3s ease;
}

:global(.active) .toggleIcon svg {
  transform: rotate(-45deg);
}

:global(.panel) {
  padding: 0 1rem;
  background-color: transparent;
}

:global(.panel) p {
  padding: 0 10% 0 0;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2.5rem 1rem;
  }

  .innerWrapper {
    flex-direction: column;
  }

  .planDescription p {
    margin: 0 0 2rem 0;
  }

  .accordionButton {
    padding: 0;
  }

  .accordionButton h4 {
    padding: 0 0 0 0.5rem;
    font-size: clamp(18px, 6vw, 22px);
  }

  .toggleIcon {
    margin: 0 0 0 1rem;
  }
}
