.wrapper {
  padding: 4.5rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-background-accent);
}

.innerWrapper {
  padding: 0 2rem;
  margin: 0 auto;
  height: 50rem;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 960px) {
  .wrapper {
    padding: 0rem 1rem;
  }

  .innerWrapper {
    padding: 4rem 0;
    height: 100%;
  }
}
