.wrapper {
  padding: 4rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-accent);
  overflow: hidden;
  position: relative;
}

.innerWrapper {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}

.textWrapper {
  height: 100%;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
  z-index: 2;
}

.textWrapper h1 {
  font-size: 36px;
  font-weight: 700;
}

.textWrapper h2 {
  font-weight: 400;
}

.imageContainer {
  position: absolute;
  top: -10%;
  right: -1%;
  width: 70%;
  height: 120%;
  clip-path: polygon(36% 0%, 100% 0%, 65% 100%, 1% 100%);
  z-index: 1;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 140%;
  object-fit: cover;
  transform: translate(30px, -70px);
  /* transform: translateY(-30px); */
}
